{% extends 'base.html' %}

{% block content %}
    {% if messages %}
        <div class="messages">
            {% for message in messages %}
                <p>{{ message }}</p>
            {% endfor %}
        </div>
    {% endif %}


    {% if appearances|length == 1 %}
        <b>Correct answer:</b> {{ entry_text }}<br>
        This is the only appearance of this clue
    {% else %}
        <b>Correct answers:</b><br>
        <table>
            <tr>
                <th>Count</th>
                <th>Entry</th>
            </tr>
            {% for entry, count in appearances.items %}
            <tr>
                <td>{{ count }}</td>
                <td>{{ entry }}</td>
            </tr>
            {% endfor %}
        </table>
    {% endif %}
{% endblock %}
